*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

nav{
    height: 12%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.left{
    position: absolute;
    margin-top: 2rem;
    left: 5rem;
}
main {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  height: 100%;
  background-color: #532357;
 
}
.container {
 position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);

}
form {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 550px;
  padding: 15px 35px 45px;
  border-radius: 12px;
  

}
h2 {
  color: #666;
  margin-bottom: 0.75em;
  text-align: center;
}
.input-group {
  margin-bottom: 1.25em;
}
input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 1.25em;
  height: auto;
  padding: 0.5em;
  border-radius: 2px;
}
/* suppress IE >= 10 native functionality that can show password */
input[type="password"]::-ms-reveal {
  display: none;

}
.btn {
  margin-top: 1.75em;

}
.input-group {
  position: relative;
  width: 100%;
}
.toggle {
  background: none;
  border: none;
  /* color: #337ab7; */
  /*display: none;*/
  font-size: 1.9em;
  font-weight: 600;
  /*padding: .5em;*/
  position: absolute;
  right: 0.75em;
  top: 0.1em;
  z-index: 9;
 
}

.fa {
  font-size: 2rem;
}
#forget {
    margin-left: 12rem;
    color: #532357;
}

@media(max-width:580px){
    .container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
    }
    main {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        /* height: 100%; */
        background-color: #ffffff;
    }
    #forget {
        margin-left: 6rem;
        color: #532357;
    }
}